@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@config "../tailwind.config.js";

@import "tailwindcss";

@import "./text.css";
@import "./footer.css";
@import "./header.css";
@import "./themeToggle.css";

:root {
  --dark-background: rgb(16, 16, 20);
  --light-background: white;
  --accent: #826cff;
  --border-radius: 12px;
}

* {
  @apply font-nunito;
  @apply transition-colors;
}

@layer base {
  ::selection {
    @apply bg-[color-mix(in_srgb,_var(--accent)_40%,_transparent)];
  }
}

body {
  @apply bg-[var(--light-background)];
  @apply dark:bg-[var(--dark-background)];
  @apply transition-colors;
  @apply duration-300;
}

::-webkit-scrollbar {
  margin: 15px;
  background: transparent;
  border: none;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: var(--border-radius);
}
