<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/icon.png" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <title>Noxia - {% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block content %} {% endblock %}
    <button
      id="theme-toggle"
      class="px-4 py-2 bg-gray-200 dark:bg-gray-700 rounded"
    >
      Toggle Dark Mode
    </button>
    <script>
      const toggleBtn = document.getElementById("theme-toggle");
      const htmlElement = document.documentElement;

      toggleBtn.addEventListener("click", () => {
        console.log("Toggling dark mode");
        if (htmlElement.classList.contains("dark")) {
          htmlElement.classList.remove("dark");
          localStorage.setItem("theme", "light");
          console.log("Removed dark class");
        } else {
          htmlElement.classList.add("dark");
          localStorage.setItem("theme", "dark");
          console.log("Added dark class");
        }
      });

      (function () {
        if (
          localStorage.getItem("theme") === "dark" ||
          (!localStorage.getItem("theme") &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          htmlElement.classList.add("dark");
        } else {
          htmlElement.classList.remove("dark");
        }
      })();
    </script>
  </body>
</html>
